[Unit]
Description=Start the bounce path code file (allegedly)
After=network.target
After=network-online.target
After=multi-user.target
After=split-camera.service
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/2021-vision/bounce_path/
ExecStart=/bin/bash -c 'python3 /home/pi/2021-vision/bounce_path/bounce_path_code.py'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target