[Unit]
Description=Split camera for multiple services to consume
After=network.target
After=network-online.target
After=multi-user.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/home/pi/2021-vision/
ExecStart=/bin/su -c '/home/pi/2021-vision/duplicate_stream.sh'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target