[Unit]
Description=Start the ball tracking script for galactic search
After=network.target
After=network-online.target
After=multi-user.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Documents/2021-vision/galactic_search/
ExecStart=/usr/bin/python3 /home/pi/Documents/2021-vision/galactic_search/ball_tracking.py
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target