[Unit]
Description=Start the marker tracking script for galactic search
After=network.target
After=network-online.target
After=multi-user.target
After=split_camera.service
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/2021-vision/galactic_search/
ExecStart=/bin/bash -c 'python3 /home/pi/2021-vision/galactic_search/marker_tracking.py'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target